.col-centered{
  float: none;
  margin: 0 auto;
}
#my_camera{
  margin: 0 auto;
  border-radius: 20px;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  margin-top: 10px;
}
.btn-camera{
  float: right;
  margin-top: -100px;
  margin-right: 80px;
}
.btn-camera button{
  font-size: 60px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 0px;
  position: fixed;
  margin: 5px 30px;
}
/* Make the masthead heading the same height as the navigation */
